<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>251331024537-cg6oajtjnnlbojhi94uf9visted2v9mq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.251331024537-cg6oajtjnnlbojhi94uf9visted2v9mq</string>
	<key>API_KEY</key>
	<string>AIzaSyDx2zek3v0z37dWdNejxzg9soDqp31YXyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>251331024537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aymen.chatApp</string>
	<key>PROJECT_ID</key>
	<string>messageme-app-6fa79</string>
	<key>STORAGE_BUCKET</key>
	<string>messageme-app-6fa79.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251331024537:ios:0af09ad71e2eaa0fc48a08</string>
</dict>
</plist>